<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuK1lonhnHDO21p9MEqMP58M9Oey828xc</string>
	<key>GCM_SENDER_ID</key>
	<string>72150873807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.findingtime</string>
	<key>PROJECT_ID</key>
	<string>findingtime-8d6cf</string>
	<key>STORAGE_BUCKET</key>
	<string>findingtime-8d6cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72150873807:ios:0caa3a5bcca22e53c469ba</string>
</dict>
</plist>